apiVersion: v1
kind: Secret
metadata:
  name: yawm-secret
  namespace: yawm-project
  labels:
    app: yawm-backend
data:
  DB_PORT: NTQzMg==
  DB_DATABASE: eWF3==
  DB_USER: eWF3bS1iNrZW5k
  DB_PASSWORD: eWF3zd29yZA==
  DB_HOST: cG9zdGdyZXMtc2VydmljZQ==

  API_HOST: MC4wLjAuMA==
  API_PORT: ODAwMA==
  API_PROTOCOL: aHR0cA==
  API_DOMAIN: bG9jYWxob3N0Cg==

  ALLOW_ORIGINS: aHR0cHM6Ly9sb2NhbGhvc3QK
  SECRET_KEY: c3VwZXItc2VjcmV0Cg==
