# pipenv lock -r --dev-only > dev-requirements.txt && pipenv lock -r > requirements.txt

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.*"
uvicorn = "==0.*"
ujson = "==4.*"
gino-starlette = "*"
alembic = "==1.*"
psycopg2-binary = "*"
python-multipart = "*"
fastapi-pagination = {extras = ["gino"], version = "*"}
httpx = "*"
google-auth = "*"
google-auth-oauthlib = "*"
python-jose = {extras = ["cryptography"], version = "*"}
uvloop = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
coolname = "==1.1.*"
fastapi-health = "==0.4.0"

[dev-packages]
coverage = "*"
codecov = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
requests = "==2.*"
pre-commit = "==2.*"
async-asgi-testclient = "*"
pytest-asyncio = "*"
pytest-alembic = "*"
snapshottest = "*"
pytest-dotenv = "*"
pretty_errors = "*"
pytest-httpx = "*"
mypy = "*"

[requires]
python_version = "3.9"
