[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.63.*"
uvicorn = "==0.12.*"
ujson = "==4.0.*"
gino-starlette = "==0.1.*"
alembic = "==1.4.*"
psycopg2-binary = "==2.8.*"

[dev-packages]
coverage = "==5.3.*"
codecov = "==2.1.*"
pytest = "==6.1.*"
pytest-cov = "==2.10.*"
pytest-flake8 = "==1.0.*"
requests = "==2.24.*"
pre-commit = "==2.8.*"
async-asgi-testclient = "==1.4.4"
pytest-asyncio = "==0.14.0"
#snapshottest = "==0.5.1"

[requires]
python_version = "3.8"
