apiVersion: v1
kind: Secret
metadata:
  name: migration-secret
  namespace: yawm-project
  labels:
    app: yawm
data:
  DATABASE_NAME: eWF3=
  DATABASE_USERNAME: eWFS1iYWNrZW5k
  DATABASE_PASSWORD: eWF3bS1zd29yZA==
  DATABASE_HOST: cG9zdGdyZX2dmljZQ==
