apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: yawm-project
  labels:
    app: yawm
data:
  POSTGRES_DB: eWF3==
  POSTGRES_USER: eWFWNrZW5k
  POSTGRES_PASSWORD: eWF3bSzd29yZA==
